<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="uk"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="uk"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="uk"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="uk">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Princess's Club</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--pure-css-->
    <link rel="stylesheet" href="libraries/pure-min.css">

    <!--font_awesome-->
    <link rel="stylesheet" href="libraries/font-awesome.min.css">

    <!--slick_css-->
    <link rel="stylesheet" href="js/plugins/slick/slick.css">
    <link rel="stylesheet" href="js/plugins/slick/slick-theme.css">

    <!--global-style-->
    <link rel="stylesheet" href="css/global.css">

    <!--custom-style-->


    <!--modernizr-->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div class="page">
    <header class="header">

        <div class="header-shown pure-g">
            <div class="pure-u-1-12 left-arrow">
            </div>
            <!--div.left-arrow-->

            <div class="pure-u-16-24 pure-g-r header-content">

                <div class="pure-u-2-5 text-right address">
                    <h5 class="pr-text-grey">WELCOME TO THE PRINCESS`S CLUB</h5>
                    <p class="pr-text-magenta p1">м. Львiв, пл. Соборна,14
                        <br>ТЦ “Роксолана”,3 поверх</p>
                </div>
                <!--div.address-->

                <div class="pure-u-1-5 logo">
                    <a href="index.html"><img class="logo-img" src="img/header-logo.png"
                                              alt="Princess's club"></a>
                </div>
                <!--div.logo-->

                <div class="pure-u-2-5 text-left contacts">
                    <h5 class="pr-text-grey">ПРОКАТ, ПРОДАЖ <br> ВЕЧІРНІХ ТА КОКТЕЙЛЬНИХ СУКОНЬ</h5>
                    <p class="pr-text-magenta p2 no-space">
                        <span><i class="pr-ico-tel"></i><a href="tel://+380981770188"> +38 098 177 01 88</a></span>
                        <!--<br>-->
                        <span><i class="pr-ico-tel"></i><a href="tel://+380632665580"> +38 063 266 55 80</a></span>
                    </p>
                </div>
                <!--div.contacts-->
            </div>
            <!--div.header-content-->

            <div class="pure-u-1-12 pure-push-md-1-12 right-arrow">
            </div>
            <!--div.right-arrow-->

        </div>
        <!--div.header-shown-->


        <div class="header-hidden">
            <div class="pure-g text-center">
                <div class="pure-u-1-2 logo-hidden">
                    <a href="index.html"><img class="logo-hidden-img" src="img/header-logo.png"
                                              alt="Princess's club"></a>
                </div>
                <!--div.logo-hidden-->
            </div>

            <div class="pure-g text-center">
                <div class="pure-u-1-2 address">
                    <h5 class="pr-text-grey">WELCOME TO THE PRINCESS`S CLUB</h5>
                    <p class="pr-text-magenta p1">м. Львiв, пл. Соборна,14
                        <br>ТЦ “Роксолана”,3 поверх</p>
                </div>

                <div class="pure-u-1-2 contacts">
                    <h5 class="pr-text-grey">ПРОКАТ, ПРОДАЖ <br> ВЕЧІРНІХ ТА КОКТЕЙЛЬНИХ СУКОНЬ</h5>
                    <p class="pr-text-magenta p2">
                        <span><i class="pr-ico-tel"></i><a href="tel://+380981770188">+38 098 177 01 88</a></span>
                        <br>
                        <span><i class="pr-ico-tel"></i><a href="tel://+380632665580">+38 063 266 55 80</a></span>
                    </p>
                </div>
            </div>

        </div>
        <!--div.header-hidden-->

    </header>
    <!--header.header-->

    <nav class="navigation">

        <div class="hidden-menu">
            <ul class="pure-g">
                <li class="pure-u-1-12 nav-icon">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </li>
                <li class="pure-u-1-3 pr-social"><a href="https://vk.com/studio4princess" target="_blank"><i
                    class="pr-ico-vk"></i></a>
                    <a href="https://www.facebook.com/studio4princess/" target="_blank"><i class="pr-ico-fb"></i></a>
                    <a href="https://www.instagram.com/miss_princess_studio/" target="_blank"><i
                        class="pr-ico-inst"></i></a>
                </li>

                <li class="pure-u-1-6">
                    <button class="pr-input pr-enter">Вхід</button>
                </li>

                <li class="pure-u-1-4">
                    <button class="pr-input pr-reg">Реєстрація</button>
                </li>
            </ul>

            <ul class="menu-second pure-g-r">
                <li><a href="#">СУКНІ</a></li>
                <li><a href="#">ВИШИВАНКИ</a></li>
                <li><a href="#">АКСЕСУАРИ</a></li>
                <li><a href="#">зонаКРАСИ</a></li>
                <li><a href="#">ФОТОсесія</a></li>
                <li><a href="#">Контакти</a></li>
                <li><a href="#">Про проект</a></li>

                <li><a href="#">Як взяти сукню в прокат</a></li>
                <li><a href="#">Як здати, свою, сукню в прокат</a></li>

                <li class="pr-news"><a href="#">НОВИНИ</a></li>

                <li><a href="#">ASKme</a></li>

                <li class="search">
                    <span class="search-wrap">
                        <input type="search" class="search" placeholder="пошук">
                        <button type="submit" class="search-but">&#128270;</button>
                    </span>
                </li>
            </ul>
        </div>

        <div class="shown-menu">
            <ul class="menu">
                <li class="pure-u-1-8"><a href="#">СУКНІ</a></li>
                <li class="pure-u-1-8"><a href="#">ВИШИВАНКИ</a></li>
                <li class="pure-u-1-8"><a href="#">АКСЕСУАРИ</a></li>
                <li class="pure-u-1-8"><a href="#">зонаКРАСИ</a></li>
                <li class="pure-u-1-8"><a href="#">ФОТОсесія</a></li>
                <li class="pure-u-1-8"><a href="#">Контакти</a></li>
            </ul><!--ul.menu-->
        </div>

        <div class="pink-menu">
            <ul class="additional-menu pure-g">
                <li class="pure-u-3-24 pr-social pure-hidden-phone"><a href="https://vk.com/studio4princess"
                                                                       target="_blank"><i class="pr-ico-vk"></i></a>
                    <a href="https://www.facebook.com/studio4princess/" target="_blank"><i class="pr-ico-fb"></i></a>
                    <a href="https://www.instagram.com/miss_princess_studio/" target="_blank"><i
                        class="pr-ico-inst"></i></a>
                </li>

                <li class="pure-u-1-24">
                    <button class="pr-input pr-enter">Вхід</button>
                </li>

                <li class="pure-u-2-24">
                    <button class="pr-input pr-reg">Реєстрація</button>
                </li>

                <li class="pure-u-2-24"><a href="#">Про проект</a></li>

                <li class="pure-u-4-24"><a href="#">Як взяти сукню в прокат</a></li>
                <li class="pure-u-5-24"><a href="#">Як здати, свою, сукню в прокат</a></li>

                <li class="pure-u-2-24 pr-news"><a href="#">НОВИНИ</a></li>

                <li class="pure-u-2-24"><a href="#">ASKme</a></li>

                <li class="pure-u-3-24">
                    <span class="search-wrap">
                        <input type="search" class="search" placeholder="пошук">
                        <button type="submit" class="search-but">&#128270;</button>
                    </span>
                </li>
            </ul>
        </div>

    </nav><!--nav.navigation-->

    <footer class="footer pure-g">

        <div class="pure-u-1-24 left-arrow left-arrow-down"></div>
        <!--div.left-arrow-down-->

        <div class="footer-menu pure-u-22-24 pure-g">
            <ul class="pure-g">
                <li class="pure-u-2-24"><a href="#">Новини</a></li>
                <li class="pure-u-1-24"><a href="#">Сукні</a></li>
                <li class="pure-u-2-24"><a href="#">Вишиванки</a></li>
                <li class="pure-u-2-24"><a href="#">Аксесуари</a></li>
                <li class="pure-u-2-24"><a href="#">зонаКРАСИ</a></li>
                <li class="pure-u-2-24"><a href="#">ФОТОсесія</a></li>
                <li class="pure-u-2-24"><a href="#">Контакти</a></li>
                <li class="pure-u-1-24"><a href="#">ASKme</a></li>
                <li class="pure-u-2-24"><a href="#">Про проект</a></li>
                <li class="pure-u-4-24"><a href="#">Як взяти сукню в прокат</a></li>
                <li class="pure-u-4-24"><a href="#">Як здати, свою, сукню в прокат</a></li>
            </ul>

            <div class="footer-contacts pure-g">
                <p class="pure-u-7-8">
                    Адреса: ТЦ "Роксолана" м. Львів, пл. Соборна 14, 3 поверх <a href="https://goo.gl/maps/SY4tiwG9Y6k"
                                                                                 target="_blank">(на карті)</a>, час
                    роботи: 10:00 - 20:00, тел. <a href="tel://+380632665580">+38 063 266 55 80</a> <a
                    href="tel://+380981770188">+38 098 177 01 88</a>
                </p>
            </div>
            <!--div.footer-contacts-->
            <div class="footer-copyright pure-g">
                <p class="pure-u-1-1">
                    &copy; Miss Princess Studio, 2016. Всі права захищені
                </p>
            </div>
            <!--div.footer-copyright-->

        </div>
        <!--div.footer-menu-->

        <div class="footer-menu-hidden pure-u-22-24">
            <ul class="pure-g">
                <li class="pure-u-1-6"><a href="#">Сукні</a></li>
                <li class="pure-u-1-6"><a href="#">Вишиванки</a></li>
                <li class="pure-u-1-6"><a href="#">Аксесуари</a></li>
                <li class="pure-u-1-6"><a href="#">зонаКРАСИ</a></li>
                <li class="pure-u-1-6"><a href="#">ФОТОсесія</a></li>
                <li class="pure-u-1-6"><a href="#">Контакти</a></li>
            </ul>
            <ul class="pure-g">
                <li class="pure-u-1-8"><a href="#">Новини</a></li>
                <li class="pure-u-1-8"><a href="#">ASKme</a></li>
                <li class="pure-u-1-6"><a href="#">Про проект</a></li>
                <li class="pure-u-7-24"><a href="#">Як взяти сукню в прокат</a></li>
                <li class="pure-u-7-24"><a href="#">Як здати,свою,сукню в прокат</a></li>
            </ul>

            <div class="footer-contacts pure-g">
                <p class="pure-u-7-8">
                    Адреса: ТЦ "Роксолана" м. Львів, пл. Соборна 14, 3 поверх <a href="https://goo.gl/maps/SY4tiwG9Y6k"
                                                                                 target="_blank">(на карті)</a>, час
                    роботи: 10:00 - 20:00, тел. <a href="tel://+380632665580">+38 063 266 55 80</a> <a
                    href="tel://+380981770188">+38 098 177 01 88</a>
                </p>
            </div>
            <!--div.footer-contacts-->
            <div class="footer-copyright pure-g">
                <p class="pure-u-1-1">
                    &copy; Miss Princess Studio, 2016. Всі права захищені
                </p>
            </div>
            <!--div.footer-copyright-->
        </div>
        <!--div.footer-menu-hidden-->

        <div class="pure-u-1-24 right-arrow right-arrow-down"></div>
        <!--div.right-arrow-down-->

    </footer>
    <!--footer.footer-->

</div><!--div.page-->


<script>
    window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.js"><\/script>')
</script>

<!--slick_js-->
<script src="js/plugins/slick/slick.js"></script>

<!--global_script-->
<script src="js/global.js"></script>

<!--custom_script-->


</body>
</html>
